<div class="container">
  <div class="row">

    <div class="col-sm-4 offset-4 m-t-50">

      <mat-card color="primary">
        <mat-card-header>
          <mat-card-title>Registeration Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" [(ngModel)]="postData.userName" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="postData.password" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone" [(ngModel)]="postData.phone" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" [(ngModel)]="postData.email" [ngModelOptions]="{standalone: true}" required>
            </mat-form-field>
            <mat-card-actions>
              <div class="row">
                <div class="col-md-4">
                  <button mat-raised-button (click)="fnRegister()" value="Register" color="primary">Register</button>
                </div>
              </div>
            </mat-card-actions>

          </form>

        </mat-card-content>


      </mat-card>
    </div>
  </div>


</div>